.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-calendar {
  background: #F5F5F5 !important;
  border-radius: 8px;
  border: none !important;
  padding: 20px 15px;
}
.react-calendar__navigation {
  display: none !important;
}
.react-calendar__tile--now {
  background: #2169B1 !important;
  color: #FFF !important;
  border-radius: 10px;
}
.react-calendar__month-view__days__day--weekend{
  color: #000;
}
abbr:where([title]){
  text-decoration: none !important;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
